.backgroundfirst{

    background:#03071e;
}

.backgroundsecond{

    background:#2a9d8f;
}
.backgroundthird{

    background:#e63946;
}

.backgroundfour{

    background:#fca311;
}

.backgroundfive{

    background:#e76f51;
}
